<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="description" content="The personal site of Louie Terrill">
			<meta property="og:title" content="The personal site of Louie Terrill" />
 		 	<meta property="og:type" content="article" />
  			<meta property="og:url" content="https://www.louieterrill.github.io/" />
  			<meta property="og:image" content="" />
  			<meta property="og:description" content="The personal site of Louie Terrill" />
  			<meta property="og:site_name" content="The personal site of Louie Terrill" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/donations">Donations</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:louieterrill@gmail.com">email</a></li>
	        		<li><a href="https://github.com/louieterrill">github.com/louieterrill</a></li>
				</ul>
			</footer>
		</body>
	</html>
